# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import io
import requests

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
s = requests.get(url).content

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(io.StringIO(s.decode('utf-8')), sep = '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [7]:
chipo.columns.size # or # len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [10]:
chipo["item_name"].mode()[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
chipo['item_name'].value_counts().sort_values(ascending=False).head(1)

item_name
Chicken Bowl    726
Name: count, dtype: int64

In [12]:
mostOrderd = chipo["item_name"].mode()[0]
count = 0
for i in range (len(chipo.index)):
    if (chipo.at[i,"item_name"] == mostOrderd):
        count += 1 
count

726

### Step 11. What was the most ordered item in the choice_description column?

In [13]:
chipo["choice_description"].mode()[0]

'[Diet Coke]'

In [14]:
order = chipo.groupby('choice_description').sum()
order = order.sort_values(['quantity'], ascending=False)
order.head(1)

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

### Step 12. How many items were orderd in total?

In [17]:
chipo['quantity'].sum()

4972

In [18]:
orderCount = 0
for i in range (len(chipo.index)):
    orderCount += chipo.at[i,"quantity"]
orderCount

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [20]:
type(chipo.at[0,"item_price"])

str

#### Step 13.b. Create a lambda function and change the type of item price

In [21]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

In [22]:
type(chipo.at[0,"item_price"])

numpy.float64

In [14]:
chipo['item_price'] = chipo['item_price'].str.replace('$','') 
chipo['item_price'] = chipo['item_price'].astype('float64')

C:\Users\Ahmed Magdy\AppData\Local\Temp\ipykernel_27000\1696315956.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].str.replace('$','')

#### Step 13.c. Check the item price type

In [23]:
type(chipo.at[0,"item_price"])

numpy.float64

In [24]:
chipo["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [26]:
(chipo["quantity"] * chipo["item_price"]).sum()

39237.02

### Step 15. How many orders were made in the period?

In [27]:
len(chipo.groupby(by="order_id"))

1834

In [28]:
chipo["order_id"].value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [29]:
# Solution 1

(chipo["quantity"] * chipo["item_price"]).mean()

8.48918649935093

In [30]:
# Solution 2
reve = chipo["quantity"] * chipo["item_price"]
summ = reve.sum()
count = reve.count()
summ / count

8.48918649935093

### Step 17. How many different items are sold?

In [31]:
len(chipo["item_name"].unique())

50